/node_modules/
/pnpm-lock.yaml
/example/
*.map
/dist/inspector.js
/dist/inspector.css
/dist/scarletsframe.min.js
/dist/scarletsframe.dev.js
mynote.md
/tests/
package-lock.json
/tsconfig.json
/favicon.ico
/public/dist/
/public/tests/t-shared.js