sf-inspector{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000000;
}

sf-space[sf_devmode]{
	display: block !important;
	touch-action: none;
}

.sf-shadow-mark{
	top:0;
	left:0;
	background: #1874d2a3;
	pointer-events:none;
	position:fixed;
}

.sf-side-info{
	pointer-events: none;
	top: 50%;
	border-radius: 0 10px 10px 0;
	box-shadow: 0 0 10px black;
	color: white;
	left: 0;
	transform: translate(-100%, -50%);
	background: #383838fa;
	position: fixed;
	opacity: 0;
	transition-property: opacity, transform;
	transition: 0.7s ease-in-out;
	font-size: 16px;
}
.sf-side-info.locked{
	pointer-events: all;
}

.sf-side-info.opened{
	opacity: 1;
	transform: translate(0%, -50%);
}

.sf-side-info .title, .sf-side-info .list-title{
	cursor: default;
}

.sf-side-info .title{
	padding: 8px 25px 8px 8px;
}
.sf-side-info.have-list .title{
	border-bottom: 2px solid #ecaa2f;
}
.sf-side-info .list-title{
	display: none;
	padding: 5px 5px 0 5px;
	border-bottom: 1px dashed white;
	color: gray;
	font-weight: bold;
}
.sf-side-info .list-title span{
	font-weight: normal;
}
.sf-side-info .list-title.true{
	display: block;
}

.sf-side-info .list.true{
	margin-top: 3px;
	padding: 8px;
	padding-top: 1px;
}

sf-space-info span{
	color: gray;
}

sf-view-info{
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
	padding: 5px;
	box-shadow: 0 0 20px 0px black;
}

.sf-viewer{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000000;
}

sf-model-viewer{
	position: fixed;
	display: block;
	border-radius: 10px;
	box-shadow: 0 0 11px black;
	color: white;
	background: #000000c7;
	max-width: 400px;
	font-family: system-ui;
	overflow: hidden;
}

sf-model-viewer .title{
	border-bottom: 2px solid #ecaa2f;
	background: #0000006b;
	padding: 5px 60px 5px 5px;
}

sf-model-viewer .list{
	padding: 10px;
	max-height: 80vh;
	overflow-y: auto;
}

sf-model-viewer .list span{
}

sf-model-viewer .list .value{
	display: inline-block;
	color: #b3b3b3;
	max-height: 60px;
	overflow-y: auto;
	max-width: 100%;
	overflow-x: hidden;
	vertical-align: bottom;
}

sf-model-viewer .reactive, sf-model-viewer .passive{
	display: flex;
	white-space: pre-wrap;
}

sf-model-viewer > span{
	font-size: 16px;
}
sf-model-viewer span{
	cursor: default;
	margin-top: -1px;
	font-weight: 400;
	font-size: 16px;
	white-space: nowrap;
	display: inline-flex;
	padding-right: 5px;
}

sf-model-viewer .statelist .value,
sf-model-viewer .object .value{
	cursor: pointer;
}

sf-model-viewer .list textarea{
	position: relative;
	background: none;
	display: inline-block;
	outline: none;
	font-size: 16px;
	font-family: "Calibri";
	border: none;
	color: #b3b3b3;
	vertical-align: middle;
	width: -webkit-fill-available;
	padding: 0 0 0 5px;
	top: 0;
	left: 0;
	height: 24px;
	font-weight: 400;
}

sf-component-info > div, sf-model-info > div{
	cursor: pointer;
}

sf-model-viewer .sf-close, sf-model-viewer .transfer, .sf-side-info .sf-close{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	text-align: center;
	line-height: 30px;
}

sf-model-viewer .transfer{
	right: 30px;
}

sf-model-viewer .switcher{
	display: flex;
	background: #0000008a;
	font-weight: 400;
}
sf-model-viewer .switcher .item{
	padding: 6px;
	cursor: pointer;
}
sf-model-viewer .switcher .item.empty{
	color: gray;
}

sf-model-viewer .switcher .item.true{
	box-shadow: 0 0 9px white;
	background: #ffffff6b;
}

sf-model-viewer .reactive-list,
sf-model-viewer .passive-list,
sf-model-viewer .statelist-list,
sf-model-viewer .object-list,
sf-model-viewer .function-list{
	display: none;
	font-size: 15px;
}

sf-model-viewer .info{
	width: 100%;
	text-align: center;
	color: lightgray;
	margin: -10px 0 8px 0;
	border-bottom: 1px dashed;
}

sf-model-viewer .title span{
	font-size: 12px;
	color: #a0a0a0;
	align-items: center;
	vertical-align: middle;
}

sf-model-viewer .title span:last-child{
	font-size: 16px;
	color: white;
}

sf-model-viewer .title span:not(:first-child)::before{
	content: ' >> ';
	color: lawngreen;
	font-size: 10px;
}

sf-model-viewer .list-reactive .reactive-list,
sf-model-viewer .list-passive .passive-list,
sf-model-viewer .list-statelist .statelist-list,
sf-model-viewer .list-object .object-list,
sf-model-viewer .list-function .function-list{
	display: block;
}

sf-model-viewer .function-list .function.gray{
	color: gray;
}

sf-model-viewer .function-list .function{
	cursor: pointer;
}
sf-model-viewer .function-list .function > span{
	color: gray;
	padding: 0;
}

sf-model-viewer .val-type-c{
    cursor: pointer;
	display: inline-block;
	position: relative;
	width: 24px;
	height: 20px;
	margin-right: -10px;
}
sf-model-viewer .val-type{
	position: absolute;
	top: 10px;
	left: 7px;
	width: 3px;
	height: 3px;
	box-shadow: 0 0 7px 2px #ffffff;
	background: #ffffff91;
	border-radius: 100%;
	vertical-align: middle;
}
sf-model-viewer .val-type-c.tracked{
	margin-right: -5px;
}
sf-model-viewer .val-type-c.tracked .val-type{
	padding: 2px;
}
sf-model-viewer .val-Number{
	box-shadow: 0 0 7px 2px #00ddff;
	background: #00ddff91;
}
sf-model-viewer .val-String{
	box-shadow: 0 0 7px 2px #ffde00;
	background: #ffde0091;
}
sf-model-viewer .val-Boolean{
	box-shadow: 0 0 7px 2px #00ff65;
	background: #29ff0091;
}

.sf-model-list-hover{
	filter: drop-shadow(0 0 17px #00d1ff);
	display: inherit;
	animation: sf-model-list-anim 1s ease-in-out infinite;
}

@keyframes sf-model-list-anim{
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0.3;
	}
}